
    <!-- Разметка формы поиска -->
    <form class="form-inline search-form" id="search-form">
      <div class="form-group mx-sm-3 mb-2">
        <label for="searchQuery" class="sr-only">What are you looking for?</label>
        <input
          type="text"
          class="form-control"
          name="query"
          id="searchQuery"
          placeholder="Search images of..."
          autocomplete="off"
        />
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    
